
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% block styles  %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
        {% endblock %}
        {% block scripts %}
        
        {% endblock %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="{% block meta_desc %}{% endblock %}" />
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
        {% block head_rest %}{% endblock %}
    </head>    

    <body>
        <div class="container ">
            <div>
                <div id="main_header" style="padding: 1rem 0;">
                    {% block header %}{% endblock %}

                    {% if form.errors %}
                    <p>There was errors with your form...</p>
                    {% for field, errors in form.errors.items %}
                        {% for err in errors %}
                        {{ err }}
                        {% endfor %}
                    {% endfor %}
                    {% endif %}

                    {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                            {{ message }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <div id="main_body">
                    {% block body %}
                    {% endblock %}
                </div>

                <div id="main_footer">
                    {% block footer %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>

