{% extends 'base.html' %}


{% block header %}
<h3>Grader Login</h3>
<a href="{% url 'users:register' %}">No account? register</a>
{% endblock %}

{% block body %}

  <form method="POST" action="{% url 'users:login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Login">
  </form>

{% endblock %}

