{% extends 'base.html' %}

{% block header %}
<h3>Grader Register</h3>
<a href="{% url 'users:login' %}">Login</a>
{% endblock %}

{% block body %}

  <form method="POST" action="{% url 'users:register' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Register">
  </form>

{% endblock %}

