{% extends 'base.html' %}

{% block title %}Grader Dashboard{% endblock %}

{% block header %}
<h3>Grader UwU</h3>
<p><a href="{% url 'grader:submit' %}">Submit</a></p>
<p><a href="{% url 'grader:submission' 1 %}">Submission</a></p>
{% endblock %}

{% block body %}

<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th></th>
        {% if user.is_authenticated %}
        <th>Result</th>
        {% endif %}
    </tr>
    </thead>
{% if task_list %}
    <tbody>
    {% for task, sub in task_list %}
    <tr>
        <td>{{task.id}}</td>
        <td><a href="{% url 'grader:desc' task.name %}">{{task.name}}</a></td>
        <td>{{task.time}}ms - {{task.mem}}kb</td>
        {% if sub %}
        <td>score: {{sub.score}} [{{sub.result}}]</td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
{% else %}
    <p>No tasks are available.</p>
{% endif %}

{% endblock %}



{% block footer %}
{% if user.is_authenticated %}
<a href="{% url 'users:logout' %}">Logout</a>
{% else %}
<a href="{% url 'users:login' %}">Login</a>
{% endif %}
{% endblock %}

