{% extends 'base.html' %}

{% block title %}Submit{% endblock %}

{% block header %}
<h3>Submit<h3>
{% endblock %}

{% block body %}

<form method="POST" action="{% url 'grader:submit'%}"
    enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>

{% endblock %}

