{% extends 'base.html' %}

{% block title %}Grader Submission{% endblock %}

{% block header %}
<h3>Submission page {{page}}
	{% if msg != None %} {{msg}} {% endif %}</h3>
<a href="{% url 'grader:index' %}">Home</a>
{% endblock %}

{% block body %}

<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>DateTime</th>
        <th>User</th>
        <th>Task</th>
        <th>Result</th>
        <th>Score</th>
        <th>Time (ms)</th>
        <th>Mem (kb)</th>
    </tr>
    </thead>
{% if submission_list %}
    <tbody>
    {% for s in submission_list %}
    <tr class="task">
        <td><a href="{% url 'grader:submission_code' s.id %}">{{s.id}}</a></td>
        <td>{{s.submitted_at|date:"d/m/y"}} {{s.submitted_at|time:"H:i"}}</td>
        <td><a href="{% url 'grader:submission_user' s.author.username %}">{{s.author.username}}</a></td>
        <td><a href="{% url 'grader:submission_task' s.task.name %}">{{s.task.name}}</a></td>
        <td>{{s.result}}</td>
        <td>{{s.score}}</td>
        <td>{{s.time_used_ms}}</td>
        <td>{{s.mem_used_kb}}</td>
    </tr>
    {% endfor %}
    </tbody>
{% else %}
    <p>No submissions.</p>
{% endif %}

{% endblock %}
